* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Variables */
/* Global Styles */
.padding-top {
  padding: 2rem 0 4rem 0;
}

.padding {
  padding: 4rem 0;
}

.btn-container {
  margin-top: 1.5rem;
}

.btn {
  text-decoration: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 100%;
  background: lightgreen;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .btn {
    width: 200px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: auto;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  /* For desktop: */
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* Navbar */
nav {
  position: fixed !important;
  width: 100%;
}

nav .container .row .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .container .row .col-12 .logo img {
  width: 140px;
}

nav .container .row .col-12 .nav-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

nav .container .row .col-12 .nav-container-2 .nav-container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

nav .container .row .col-12 .nav-container-2 .cart-btn {
  margin-right: 0;
  background: grey;
  padding: 0.5rem;
}

nav .container .row .col-12 .nav-container-2 .cart-btn i {
  margin-right: 0.5rem;
}

nav .container .row .col-12 .nav-container-2 .cart-btn div {
  margin-right: 0.5rem;
}

nav .container .row .col-12 .nav-container-2 .red-dot {
  background: red;
  position: absolute;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  height: 24px;
  width: 24px;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  color: #fff;
}

nav .container .row .col-12 .nav-container-2 .show-red-dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .container .row .col-12 .nav-container-3 {
  background: grey;
  position: fixed;
  z-index: 11;
  padding: 3rem 1rem 1rem 1rem;
  width: 30%;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  visibility: hidden;
}

nav .container .row .col-12 .nav-container-3 #close-cart-btn {
  cursor: pointer;
  display: inline-block;
  background: red;
  padding: 6px;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

nav .container .row .col-12 .nav-container-3 .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
  padding-bottom: 0.5rem;
}

nav .container .row .col-12 .nav-container-3 .cart-item:last-child {
  margin-bottom: 0;
}

nav .container .row .col-12 .nav-container-3 .cart-item div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .row .col-12 .nav-container-3 .cart-item div:first-child img {
  margin-right: 0.75rem;
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

nav .container .row .col-12 .nav-container-3 .cart-item .cart-item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .container .row .col-12 .nav-container-3 .cart-item .cart-item-body span {
  display: block;
  margin-bottom: 0.35rem;
}

nav .container .row .col-12 .nav-container-3 .cart-item .cart-item-body span:last-child {
  margin-bottom: 0;
}

nav .container .row .col-12 .nav-container-3 .total-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .container .row .col-12 .cart-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
}

/* Header */
header {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

/* About */
#about .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Shop */
#shop .container .row .col-12 .filter-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#shop .container .row .col-12 .filter-btns .active {
  background: #000;
  color: #e9e9e9;
  border: 1px solid #000;
}

#shop .container .row .col-12 .filter-btns div {
  font-size: 1.2em;
  padding: 4px 12px;
  border: 1px solid #000;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#shop .container .row .col-12 .filter-btns div:hover {
  background: #000;
  color: #e9e9e9;
  border: 1px solid #000;
}

#shop .container .row .col-12 .products-container {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#shop .container .row .col-12 .products-container .product {
  cursor: pointer;
  width: 100%;
  background: #fff;
}

#shop .container .row .col-12 .products-container .product .card .card-img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

#shop .container .row .col-12 .products-container .product .card .card-img img {
  width: 100%;
  height: 100%;
}

#shop .container .row .col-12 .products-container .product .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
}

#shop .container .row .col-12 .products-container .product .card div:last-child {
  margin: 0 auto;
  text-align: center;
}

#shop .container .row .col-12 .products-container .product .card div:last-child a {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 0.5rem;
}
/*# sourceMappingURL=style.css.map */